---
layout: layout.njk
---

<div class="background statues moving"></div>
<div class="centered">
  <div class="box larger">
    <h1>Parent Quest</h1>
    <h2>By James and Shelley</h2>
    <hr />
    <p>An augmented (but sadly less augmented due to COVID-19) reality game</p>
    <hr />
    <p>
      To celebrate the birth of Joe and Emily's child, and because James gets
      obsessed with ideas and has to follow them through.
    </p>

    <div class="link-group">
      <a href="/">Back</a>
    </div>
  </div>
</div>
