---
layout: gameLayout.njk
---

  <div class="game-quests hidden" location="sewers">
  {% for quest in quests.sewers %}
    <button
      class="quest-button"
      description="{{quest.description}}"
      key="{{quest.key}}"
      xp="{{quest.xp}}"
    >
      {{quest.name}}
    </button>

    <dialog id="{{quest.key}}">
      <h2>{{quest.name}} {{quest.xp}}XP</h2>
      <p>{{quest.description}}</p>
      <div class="link-group">
        <button class="close-dialog">Close</button>
        <button class="complete-quest">I've completed this</button>
      </div>
    </dialog>
  {% endfor %}
  </div>

  <div class="game-quests hidden" location="court">
  {% for quest in quests.court %}
    <button
      class="quest-button"
      description="{{quest.description}}"
      key="{{quest.key}}"
      xp="{{quest.xp}}"
    >
      {{quest.name}}
    </button>

    <dialog id="{{quest.key}}">
      <h2>{{quest.name}} {{quest.xp}}XP</h2>
      <p>{{quest.description}}</p>
      <div class="link-group">
        <button class="close-dialog">Close</button>
        <button class="complete-quest">I've completed this</button>
      </div>
    </dialog>
  {% endfor %}
  </div>

<div class="game-quests hidden" location="common">
  {% for quest in quests.common %}
    <button
      class="quest-button"
      description="{{quest.description}}"
      key="{{quest.key}}"
      xp="{{quest.xp}}"
    >
      {{quest.name}}
    </button>

    <dialog id="{{quest.key}}">
      <h2>{{quest.name}} {{quest.xp}}XP</h2>
      <p>{{quest.description}}</p>
      <div class="link-group">
        <button class="close-dialog">Close</button>
        <button class="complete-quest">I've completed this</button>
      </div>
    </dialog>
  {% endfor %}
  </div>

  <div class="game-quests hidden" location="cemetery">
  {% for quest in quests.cemetery %}
    <button
      class="quest-button"
      description="{{quest.description}}"
      key="{{quest.key}}"
      xp="{{quest.xp}}"
    >
      {{quest.name}}
    </button>

    <dialog id="{{quest.key}}">
      <h2>{{quest.name}} {{quest.xp}}XP</h2>
      <p>{{quest.description}}</p>
      <div class="link-group">
        <button class="close-dialog">Close</button>
        <button class="complete-quest">I've completed this</button>
      </div>
    </dialog>
  {% endfor %}
  </div>

  <dialog class="level-up" level="2">
    <h2>Level Up!</h2>
    <p>Welcome to Level 2!</p>
    <p>New ability:<p>
    <p>{{ abilities["2"] }}
    <div class="link-group">
      <button class="close-dialog">
        Close
      </button>
    </div>
  </dialog>

  <dialog class="level-up" level="3">
    <h2>Level Up!</h2>
    <p>Welcome to Level 3!</p>
    <p>New ability:<p>
    <p>{{ abilities["3"] }}
    <div class="link-group">
      <button class="close-dialog">
        Close
      </button>
    </div>
  </dialog>
  
  <dialog class="level-up" level="4">
    <h2>Level Up!</h2>
    <p>Welcome to Level 4!</p>
    <p>New ability:<p>
    <p>{{ abilities["4"] }}
    <div class="link-group">
      <button class="close-dialog">
        Close
      </button>
    </div>
  </dialog>
  
  <dialog class="level-up" level="5">
    <h2>Level Up!</h2>
    <p>Welcome to Level 5!</p>
    <p>New ability:<p>
    <p>{{ abilities["5"] }}
    <div class="link-group">
      <button class="close-dialog">
        Close
      </button>
    </div>
  </dialog>

  <dialog class="character-dialog" id="character-dialog">
    <h2> Characters </h2>
    <ul>
      <li>You can hurl balls of green genetic fire at a target</li>
      <li>You have the patience to explain which is 'the angle' in a triangle repeatedly</li>
      <li class="ability hidden" level="2">{{ abilities["2"]}}</li>
      <li class="ability hidden" level="3">{{ abilities["3"]}}</li>
      <li class="ability hidden" level="4">{{ abilities["4"]}}</li>
      <li class="ability hidden" level="5">{{ abilities["5"]}}</li>
    </ul>
    <div class="link-group">
      <button class="close-dialog">
        Close
      </button>
    </div>
  </dialog>

  <dialog id="victory-dialog" class="victory-dialog">
    <div class="victory-contents">
      
      <h2>Victory!</h2>
      <img src="/assets/baby.gif" class="baby" />
      <p>You have completed the main quest line!</p>
      <p>...but there is a <em>lot</em> of DLC that is currently unreleased!</p>
  
      <p>Enjoy parenthood! You're going to be fantastic.</p>
    </div>
  </dialog>
