---
layout: layout.njk
---

<div class="background moving" location="statues"></div>
<img src="/assets/baby.gif" class="flying baby" />
<div class="centered">
  <div class="box constrained">
    <h1>Parent Quest</h1>
    <h2>By James and Shelley</h2>
    <hr />
    <p>An augmented reality game</p>
    <hr />
    <div class="link-group">
      <a href="/name">Play</a>
      <a href="/about">About</a>
    </div>
  </div>
</div>
