---
layout: layout.njk
---

<script>
  if (localStorage.getItem('babyName')) {
    window.location.replace('/game');
  }
</script>
<div class="background" location="court"></div>

<div class="centered">
  <div class="box larger">
    <h1>Welcome Adventurer...</h1>
    <p>...to the dungeon of Parenthood!</p>

    <p>
      The world is in grave danger, and the champion that can save us all is but
      a babe in arms. You must train her! As you do so, you will find many
      quests to complete in the Meatworld.
    </p>

    <p>
      Report your victories here, gain new abilities and be rewarded with loot
      in the Meatworld.
    </p>

    <label
      >Your champion's name:
      <input id="nameField" class="name-input" type="text" />
    </label>

    <div class="link-group">
      <a id="startQuestLink" disabled href="/game">Start your quest!</a>
    </div>
  </div>
</div>
