html {
  overflow-x: hidden;
}

body {
  margin: 0;
  font-family: 'Press Start 2P', cursive;
  background-color: black;
  color: white;
  line-height: 2rem;
}

h1 {
  font-size: 1.5rem;
}

h2 {
  font-size: 1.25rem;
}

h3 {
  font-size: 1.125rem;
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.hidden {
  display: none;
}

.box {
  border: 6px double white;
  padding: 1rem;
  background-color: black;
  color: white;
}

.quest-button {
  border: 3px solid white;
  padding: 1rem;
  background-color: black;
  color: white;
  font-family: 'Press Start 2P', cursive;
  position: relative;
}

.quest-button.complete {
  background-color: white;
  color: black;
  border: 3px solid black;
}

.quest-button.complete::after {
  position: absolute;
  bottom: 0.5rem;
  right: 0.5rem;
  content: '✔';
  color: green;
  font-size: 2rem;
}

.quest-button.complete + dialog .complete-quest {
  /* Hide complete button if quest already completed */
  display: none;
}

dialog {
  min-width: 400px;

  max-width: 600px;
  background: black;
  color: white;
  border: 6px double white;
}

dialog::backdrop {
  background: rgba(0, 0, 0, 0.5);
}

.map-dialog {
  max-width: 800px;
}

button {
  font-family: 'Press Start 2P', cursive;
  border: 2px solid black;
  padding: 0.5rem;
}

input {
  font-family: 'Press Start 2P', cursive;
}

.constrained {
  max-width: 500px;
  max-height: 500px;
}

.larger {
  max-width: 800px;
}

.screen {
  width: 100%;
  height: 100%;
  max-width: 1100px;
  margin: auto;
}

.background {
  background-repeat: repeat-x;
  position: absolute;
  width: 3840px;
  height: 100%;
  z-index: -1;
}

.background[location='sewers'] {
  background-image: url('./assets/sewers.jpeg');
}

.background[location='statues'] {
  background-image: url('./assets/Battleground1.png');
}

.background[location='court'] {
  background-image: url('./assets/Battleground2.png');
}

.background[location='common'] {
  background-image: url('./assets/Battleground3.png');
}

.background[location='cemetery'] {
  background-image: url('./assets/Battleground4.png');
}

.moving {
  animation: 10s infinite linear background-motion;
}

@keyframes background-motion {
  from {
    transform: translateX(0px);
  }
  to {
    transform: translateX(-1920px);
  }
}

.game-layout {
  display: grid;
  padding: 2rem;
  grid-gap: 2rem;
  grid-template-columns: 2fr 2fr 1fr 1.5fr;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    'title title map stats'
    'quests quests quests stats';
}

.small-width {
  display: none;
  padding: 2rem;
}
@media (max-width: 1099px) {
  .large-width {
    display: none;
  }
  .small-width {
    display: block;
  }
}

@media (min-width: 1100px) {
}

.game-title {
  grid-area: title;
}

.game-stats {
  grid-area: stats;
}

.game-map {
  grid-area: map;
}

.game-quests {
  display: grid;
  grid-area: quests;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-auto-rows: 1fr;
}

.game-quests.hidden {
  display: none;
}

.link-group {
  display: flex;
  justify-content: space-around;
}

.grid {
  display: grid;
}

.meter {
  width: 100%;
  height: 4rem;
  border-radius: 0;
}

a[disabled] {
  color: grey;
  pointer-events: none;
}

.map-dialog {
  max-width: initial;
}

.map-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 1fr;
  grid-gap: 1rem;
  justify-items: center;
}

.map-thumbnail {
  height: 200px;
  width: 300px;
  object-fit: cover;
  margin-bottom: 1rem;
}

.map-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
}

.map-link {
  display: contents;
  color: white;
}

@keyframes flying {
  20% {
    transform: translate3d(20vw, 20vh, 0);
  }
  40% {
    transform: translate3d(80vw, 20vh, 0);
  }
  60% {
    transform: translate3d(80vw, 80vh, 0);
  }
  80% {
    transform: translate3d(20vw, 80vh, 0);
  }
  100% {
    transform: translate3d(20vw, 20vh, 0);
  }
}

.baby {
  width: 100px;
}

.flying {
  transform: translate3d(20vw, 20vh, 0);

  position: absolute;
  width: 100px;
  z-index: -1;
  animation-duration: 10s;
  animation-name: flying;
  animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  animation-iteration-count: infinite;
}

.stat-group {
  margin-bottom: 2rem;
}

.location-meters {
  display: grid;
  grid-template-columns: 1fr 3fr;
  align-items: center;
  grid-gap: 1rem;
}

.game-nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.location-meters > * {
  text-align: right;
}

.game-nav button {
  padding: 0.5rem;
}

.victory-contents {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.name-input {
  padding: 0.5rem;
}
