---
layout: layout.njk
---

<div class="background" ></div>

<div class="game-layout">
  <div class="game-title">
    <div class="box">
      <h1><span class="location-title">Parent Quest</span> - <span class="baby-name"></span></h1>
    </div>
  </div>

  <nav class="game-nav">
    <button onclick="window.location = '/';">Menu</button>
    <button id="show-character">Characters</button>
    <button id="show-map">Map</button>
  </nav>

  <dialog open id="map-dialog" class="map-dialog" >
  {% include 'map.njk' %}
  </dialog>

  <div class="game-stats box">
    {% include 'stats.njk' %}
  </div>

  {{ content | safe }}

  </div>
