<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Parent Quest</title>
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="/styles.css" />
    <meta name="robots" content="noindex">
    <meta property="og:title" content="Parent Quest">
    <meta property="og:description" content="An augmented reality game for the Wylde family.">

    <meta property="og:image" content="https://parent-quest.netlify.app/assets/baby.gif">
  </head>
  <body>

    <div class="small-width">
      <h1>Small screen alert!</h1>
      <p>Sadly, you need a larger screen to play Parent Quest...</p>
    </div>

    <div class="large-width">
      {{ content | safe }}
    </div>
    <script src="/game.js"></script>
  </body>
</html>
