<h1>Where will you explore?</h1>
<div class="map-grid">
  <div class="map-item">
    <button id="show-sewer" class="map-link">
      <img class="map-thumbnail" src="/assets/sewers.jpeg"/>
      <div>
        The sewers below Mangetsu
      </div>
    </button>
  </div>

  <div class="map-item">
    <button id="show-common" class="map-link">
      <img class="map-thumbnail" src="/assets/Battleground3.png"/>
      <div>Streatham Common</div>
    </button>
  </div>

  <div class="map-item">
    <button id="show-court" class="map-link">
      <img class="map-thumbnail" src="/assets/Battleground2.png"/>
      <div>
        Haunted Manor Court
      </div>
    </button>
  </div>

  <div class="map-item">
    <button id="show-cemetery" class="map-link">
      <img class="map-thumbnail" src="/assets/Battleground4.png"/>
      <span>
        Eerie Streatham Park Cemetery
      </span>
    </button>
  </div>
</div>