<div class="stat-group">
  <h2>Level <span id="level-stat"></span> <span id="xp-stat"></span>XP</h2>
  <meter
    id="xp-meter"
    class="meter"
  >
  </meter>
  <div>Next Level: <span id="nextLevel-stat"></span>XP</div>
  
</div>

<div class="stat-group">
  <h2>Locations</h2>
  <div class="location-meters">
    <div>Sewer</div>
    <meter
      id="sewer-meter"
      class="meter"
      min="0"
      max="{{sewersAvailable}}"
      optimum="{{sewersAvailable}}"
      low="{{sewersLow}}"
      high="{{sewersHigh}}"
      ></meter>
  
    <div>Common</div>
    <meter
      id="common-meter"
      class="meter"
      min="0"
      max="{{commonAvailable}}"
      optimum="{{commonAvailable}}"
      low="{{commonLow}}"
      high="{{commonHigh}}"
      ></meter>
  
    <div>Manor Court</div>
    <meter
      id="court-meter"
      class="meter"
      min="0"
      max="{{courtAvailable}}"
      optimum="{{courtAvailable}}"
      low="{{courtLow}}"
      high="{{courtHigh}}"
      ></meter>

    <div>Cemetery</div>
    <meter
      id="cemetery-meter"
      class="meter"
      min="0"
      max="{{cemeteryAvailable}}"
      optimum="{{cemeteryAvailable}}"
      low="{{cemeteryLow}}"
      high="{{cemeteryHigh}}"
      ></meter>
    </div>  
</div>
